{% extends "stories/base.html" %}

{% block content %}

	<h1> About </h1>
	<br>
	<body> <p> Welcome to Senior Stories! This is a site created in order to help people share snippets of their lives with everyone interested in reading them! Here, you'll be able to upload multiple different posts, where you can discuss interesting aspects of your life, fun stories in the pasts, or even anything you wish for in the future. </p> 	
	
		   <p> This site will only grow as more users become willing to share their story, so the more the merrier! Simply register for an account, click "New Story", and let everyone read about yourselves! Feel free to read about your friends' lives as well. </p>
		
		   <p> I hope you all enjoy the functionalities of this site, and have a great time getting to know each other! </p>
								
	
	
	</body>

{% endblock content %}
